.sidebar {
  bottom: auto;
  right: auto;

  a, span.exturl {
    color: $black-light;

    &:hover {
      border-bottom-color: $black-deep;
      color: $black-deep;
    }
  }
}

.sidebar-inner {
  background: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: $text-color;
  width: $sidebar-desktop;

  if (hexo-config('motion.enable') && hexo-config('motion.transition.sidebar')) {
    opacity: 0;
  }

  &.affix {
    position: fixed;
    top: $sidebar-offset;
  }

  &.affix-bottom {
    position: absolute;
  }
}

.site-state-item {
  padding: 0 10px;
}

.sidebar-button {
  border-bottom: 1px dotted $grey-light;
  border-top: 1px dotted $grey-light;
  margin-top: 10px;
  text-align: center;

  a {
    border: 0;
    color: $orange;
    display: block;

    &:hover {
      background: none;
      border: 0;
      color: darken($orange, 20%);

      .fa {
        color: darken($orange, 20%);
      }
    }
  }
}

.links-of-author {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.links-of-author-item {
  sidebar-inline-links-item();

  a, span.exturl {
    border-bottom: none;
    display: block;
    text-decoration: none;

    &::before {
      display: none;
    }

    &:hover {
      background: $gainsboro;
      border-radius: 4px;
    }
  }

  .fa {
    margin-right: 2px;
  }
}

.links-of-blogroll {

  if (hexo-config('links_settings.layout') == 'inline') {
    clearfix();
  }
}

.links-of-blogroll-item {
  padding: 0;

  if (hexo-config('links_settings.layout') == 'inline') {
    sidebar-inline-links-item();

    if (!hexo-config('social_icons.icons_only')) {
      width: unset;
    }
  }
}

.night-mode{
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  white-space: nowrap;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
  .toggle-mode {
    float: left;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    .icon {
      width: 20%;
      float: left;
      font-size: 1.5rem;
    }
    .toggle-switch{
      float: left;
      height: 30px;
      width: 60%;
      line-height: 30px;
      .switch{
        position: relative;
        display: inline-block;
        width: 90%;
        height: 20px;
        font-weight: 700;
        margin-top: 5px;
        #switch-style{
          display: none;
          &:checked ~ .slider {
            background-color: #344658;
            &:before{
              background-color: #4fa1d0;
              left: calc(100% - 17px);
            }
          }
          
        }
        .slider{
          background-color: #fff;
          border: 1px solid #192837;
          border-radius: 30px;
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition:background-color .5s;
          &:before{
            content: '';
            background-color: #999;
            position: absolute;
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 1px;
            border-radius: 50%;
            transition: .5s;
          }
        }
      }
    }
    .icon{
      width: 20%;
      float: left;
      font-size: 1.5rem;
    }
  }
}